*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family:"montserrat" ;
    src: url(./Montserrat_Alternates/MontserratAlternates-Italic.ttf);
}
p{
    font-family:"montserrat" ;
    line-height: 2;
}