 @import "estructura";
@import "tipografia";

$amarillo: #ffcc00;
.bg-mio{
    background-color: $amarillo;
}
 
/*extend*/
.imagen{
    width:"500"; 
    height:"500";
    border:2px solid black;
}

.imagen-m{
    @extend .imagen;
    border:2px solid rgb(250, 206, 11);
}

/*mixin*/
@mixin borde($tipo, $tamanio) {
    border-radius:$tipo ;
    border-style:$tamanio ;
}

.contorno{
    @include borde(25px, inset) ;
}

.contorno-1{
    @include borde(20px, inset) ;
}

.contorno-2{
    @include borde(30px, inset) ;
}
