*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #323E40;
}
.bg-mio{
    background-color: #ffcc00;
}
@font-face {
    font-family:"montserrat" ;
    src: url(../Montserrat_Alternates/MontserratAlternates-Italic.ttf);
    font-display: swap  
}
p{
    font-family:"montserrat" ;
}
@font-face {
    font-family:"shadows";
    src: url(../ShadowsIntoLight/ShadowsIntoLight-Regular.ttf);
    font-display: swap  
}
h1{
    font-family: "shadows";
    text-align: center;
}
.imagen{
    border:2px solid black;
    border-radius: 20px;
    border-style: inset;
}
